Repository Euphoria-Solutions/HAB, pull requests merged in 2024-05, with the labels that each got.

#72 feat(frontend): added authentication context
  projects/front/App.tsx
  projects/front/src/assets/icons/bell-outlined-icon.tsx
  projects/front/src/assets/icons/index.ts
  projects/front/src/auth/auth-provider.tsx
  projects/front/src/components/common/car-detail.tsx
  projects/front/src/components/common/date-picker.tsx
  projects/front/src/components/common/header-elements.tsx
  projects/front/src/components/common/index.ts
  projects/front/src/components/common/mini-dropdown.tsx
  projects/front/src/components/custom/custom-stack-header.tsx
  projects/front/src/components/custom/custom-tab-header.tsx
  projects/front/src/screens/admin/admin-add-schedule.tsx
  projects/front/src/screens/login/loginscreen.tsx
  projects/front/src/screens/mechanic-engineer/mechanic-engineer-navigator.tsx
  projects/front/src/screens/news/news.tsx
  projects/front/src/screens/work/work-screen.tsx
Labels: front-end

#76 fix(back-end): fixed some changes on Auth CRUD
  projects/back/codegen.yml
  projects/back/src/graphql/auth.ts
  projects/back/src/graphql/index.ts
  projects/back/src/graphql/types.ts
  projects/back/src/models/message.ts
  projects/back/src/models/user.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/message.ts
  projects/back/src/resolvers/user.ts
Labels: bug, back-end

#78 feat(frontend): finished tranport manager section
  projects/front/App.tsx
  projects/front/src/assets/icons/index.ts
  projects/front/src/assets/icons/right-line-icon.tsx
  projects/front/src/auth/auth-provider.tsx
  projects/front/src/components/common/car-detail.tsx
  projects/front/src/components/common/header-elements.tsx
  projects/front/src/components/common/mini-dropdown.tsx
  projects/front/src/components/common/signature.tsx
  projects/front/src/components/common/submit-button.tsx
  projects/front/src/components/content/car-confirm.tsx
  projects/front/src/components/content/car-general-info.tsx
  projects/front/src/components/content/car-info-list.tsx
  projects/front/src/components/content/index.ts
  projects/front/src/components/content/news-card.tsx
  projects/front/src/components/content/notification-request.tsx
  projects/front/src/navigation/types.ts
  projects/front/src/screens/index.ts
  projects/front/src/screens/notification/notification-screen.tsx
  projects/front/src/screens/work/work-car-info.tsx
  projects/front/src/screens/work/work-parts.tsx
  projects/front/src/screens/work/work-reason.tsx
  projects/front/src/screens/work/work-screen.tsx
  projects/front/src/screens/work/work-stack.tsx
  projects/front/src/utils/interface.ts
  projects/front/src/utils/temp-datas.tsx
Labels: front-end

#79 feat(back-end): post CRUD
  projects/back/package.json
  projects/back/src/graphql/auth.ts
  projects/back/src/graphql/index.ts
  projects/back/src/graphql/post.ts
  projects/back/src/models/index.ts
  projects/back/src/models/post.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/post.ts
Labels: back-end

#82 feat(front-end): driver Section
  projects/front/App.tsx
  projects/front/src/components/content/car-confirm.tsx
  projects/front/src/components/content/car-general-info.tsx
  projects/front/src/components/content/news-card.tsx
  projects/front/src/components/custom/custom-tab-header.tsx
  projects/front/src/navigation/types.ts
  projects/front/src/screens/driver/driver-stack.tsx
  projects/front/src/screens/index.ts
  projects/front/src/screens/login/loginscreen.tsx
  projects/front/src/screens/news/news.tsx
  projects/front/src/screens/sos/sos-fix-info.tsx
  projects/front/src/screens/work/work-car-info.tsx
  projects/front/src/screens/work/work-screen.tsx
  projects/front/src/utils/temp-datas.tsx
Labels: front-end

#84 feat(back-end): vehicle crud & some changes on other cruds
  projects/back/package.json
  projects/back/src/graphql/index.ts
  projects/back/src/graphql/post.ts
  projects/back/src/graphql/vehicle.ts
  projects/back/src/models/index.ts
  projects/back/src/models/vehicle.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/post.ts
  projects/back/src/resolvers/user.ts
  projects/back/src/resolvers/vehicle.ts
  projects/front/package.json
Labels: back-end
