Repository Euphoria-Solutions/HAB, pull requests merged in 2024-02, with the labels that each got.

#25 fix(package.json): added react-native-gesture-handler
  projects/front/package.json
Labels: good first issue, front-end

#31 feat(back-end): back-end
  docs/commit_message_rules.md
  docs/how_to_contribute.md
  docs/working_on_front_end.md
  projects/back/.eslintignore
  projects/back/.eslintrc.json
  projects/back/.gitignore
  projects/back/.prettierrc.json
  projects/back/README.md
  projects/back/codegen.yml
  projects/back/next-env.d.ts
  projects/back/next.config.js
  projects/back/package.json
  projects/back/src/graphql/types.ts
  projects/back/src/models/index.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/pages/index.tsx
  projects/back/src/resolvers/index.ts
  projects/back/tsconfig.json
  projects/back/tsconfig.spec.json
  projects/front/package.json
Labels: back-end

#39 feat(login page, theme, login-input): added login page and theming
  projects/front/App.tsx
  projects/front/src/assets/icons/confirm-icon.tsx
  projects/front/src/assets/icons/hide-icon.tsx
  projects/front/src/assets/icons/show-icon.tsx
  projects/front/src/assets/lotties/loading-animation.json
  projects/front/src/components/common/.gitkeep
  projects/front/src/components/common/login-input.tsx
  projects/front/src/navigation/types.ts
  projects/front/src/screens/home/homescreen.tsx
  projects/front/src/screens/login/loginscreen.tsx
  projects/front/src/theme/.gitkeep
  projects/front/src/theme/theme-provider.tsx
Labels: front-end

#42 feat: added profile screen and fixed issues
  projects/front/App.tsx
  projects/front/ios/front.xcodeproj/project.pbxproj
  projects/front/ios/front.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  projects/front/ios/front/Info.plist
  projects/front/src/assets/icons/edit-icon.tsx
  projects/front/src/assets/icons/left-arrow-icon.tsx
  projects/front/src/assets/icons/right-arrow-icon.tsx
  projects/front/src/components/common/login-input.tsx
  projects/front/src/components/common/submit-button.tsx
  projects/front/src/components/custom/.gitkeep
  projects/front/src/components/custom/custom-header.tsx
  projects/front/src/components/custom/custom-switch.tsx
  projects/front/src/navigation/types.ts
  projects/front/src/screens/login/loginscreen.tsx
  projects/front/src/screens/profile/change-password-screen.tsx
  projects/front/src/screens/profile/profile.tsx
  projects/front/src/screens/profile/request-screen.tsx
  projects/front/src/theme/theme-provider.tsx
Labels: enhancement, front-end

#46 feat(back-end): Authentication
  docs/working_on_front_end.md
  projects/back/src/graphql/types.ts
  projects/back/src/models/index.ts
  projects/back/src/models/message.ts
  projects/back/src/models/user.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/message.ts
  projects/back/src/resolvers/user.ts
Labels: back-end
